<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="ExhysWebContestEntities" connectionString="metadata=res://*/WebContestDatabaseModel.csdl|res://*/WebContestDatabaseModel.ssdl|res://*/WebContestDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ExhysWebContest;persist security info=True;user id=sa;password=Popcorn123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>