<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="SubmissionService">
          <webSocketSettings transportUsage="Always" />
        </binding>
        <binding name="ExecutionService">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint address="ws://localhost:9080/SubmissionRouter" binding="netHttpBinding"
          bindingConfiguration="SubmissionService" contract="SubmissionRouter.ISubmissionService"
          name="SubmissionService" />
      <endpoint address="ws://localhost:9080/SubmissionRouter" binding="netHttpBinding"
          bindingConfiguration="ExecutionService" contract="SubmissionRouter.IExecutionService"
          name="ExecutionService" />
    </client>
  </system.serviceModel>
</configuration>