* {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: sans-serif;
  text-align: justify;
  box-sizing: border-box; }

body {
  padding-top: 1.52917cm;
  padding-left: 12px;
  padding-right: 12px;
  background: #e0e0e0;
  color: #000; }

nav {
  background: #565656;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 1cm;
  padding-left: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  nav ul {
    display: inline-block; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        height: 1cm;
        line-height: 1cm;
        display: inline-block;
        color: #EEE;
        text-decoration: none;
        padding-right: 16px; }
      nav ul li a:hover {
        color: white; }
      nav ul li:last-of-type a {
        padding-right: 0px; }

textarea {
  resize: vertical;
  min-height: 24px; }

button, input, textarea, label {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 4px;
  background: #565656;
  color: #EEE;
  border-radius: 0px;
  border: 1px solid rgba(128, 128, 128, 0.81); }

button, input[type=button], input[type=submit] {
  border: 0px; }
  button:hover, input[type=button]:hover, input[type=submit]:hover {
    background: #666666; }

label[for] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #EEE;
  background: #565656;
  padding-right: 32px; }
  label[for] + input[type=checkbox] {
    margin-left: -26px; }

textarea, input[type=text], input[type=datetime] {
  width: 200px; }
