@mixin user-select($val){
    -webkit-touch-callout: $val;
    -webkit-user-select: $val;
    -moz-user-select: $val;
    -ms-user-select: $val;

    user-select: $val;
    //This thing works in IE11 and not in Firefox.
    //This is how retarded pop culture is.
}

*{
    margin:0px;
    padding:0px;
    font-size:18px;
    font-family:sans-serif;
    text-align:justify;
    box-sizing:border-box;
}

$themeColor:#565656;
$themeColorShade:#666666;
$backgroundColor:#e0e0e0;
$foregroundColor:#AAA;
$textColor:#000;
$revTextColor:#EEE;
$headerHeight:1cm;
$pageSidePadding:12px;
$smallBorderRadius:0px;
$bigBorderRadius:8px;

body{
    padding-top:$headerHeight+20px;
    padding-left:$pageSidePadding;
    padding-right:$pageSidePadding;
    background:$backgroundColor;
    color:$textColor
}

nav{
    background:$themeColor;
    display:block;
    position:fixed;
    left:0px; top:0px; right:0px;
    height:$headerHeight;
    padding-left:$pageSidePadding;
    @include user-select(none);

    ul{
        display:inline-block;

        li{
            display:inline-block;

            a{
                height:$headerHeight;
                line-height:$headerHeight;
                display:inline-block;
                //background:gray;
                color:$revTextColor;
                text-decoration:none;
                padding-right:16px;//Put some spacing between the Nav Links
            }
            a:hover{
                color:white;
                //text-decoration:underline;
            }
            &:last-of-type a{
                padding-right:0px;
            }
        }
    }
}

textarea{
    
    resize:vertical;
    min-height:24px;
}

button, input, textarea, label{
    display:inline-block;
    margin-top:2px;
    margin-bottom:2px;
    padding:4px;
    background:$themeColor;
    color:$revTextColor;
    border-radius:$smallBorderRadius;
    border:1px solid rgba(128, 128, 128, 0.81);
}

button, input[type=button], input[type=submit]{
    //Global Button styles
    border:0px;
    &:hover{background:$themeColorShade;}
}

label[for]{
    @include user-select(none);
    color:$revTextColor;
    background:$themeColor;

    //Fit the checkbox into it's label's padding-right space
    &+input[type=checkbox]{margin-left:-26px;} padding-right:32px;
}

form{
    margin-right:100px;
    margin-left:100px;
    input, button, textarea{
        width:100%;
    }
    input[type=checkbox]{
        width:auto;
    }
}
