<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        @{ 
            var user = ViewData.GetSignedInUser();
            if(user==null)
            {
                <div>
                    Welcome, Guest
                </div>
            }
            else
            {
                <div>
                    Welcome, @(user.FirstName + ' ' + user.LastName)
                </div>
            }
        }
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>