<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>publish.rimsoft.bg/exhys</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.rimsoft.bg</MSDeployServiceURL>
    <DeployIisAppPath>PublishServer/Exhys</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>RIMSOFT\APPLICATIONPUBLISHER</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Exhys.WebContestHost.DataModels.ExhysContestEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=rdp.rimsoft.bg;Initial Catalog=ExhysContestHost;Persist Security Info=True;User ID=exhys;Password=exhys123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Exhys.WebContestHost.DataModels.ExhysContestEntities, Exhys.WebContestHost.DataModels" MigrationConfiguration="Exhys.WebContestHost.DataModels.Migrations.Configuration, Exhys.WebContestHost.DataModels" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Exhys.WebContestHost.DataModels.ExhysContestEntities-Web.config Connection String">
      <ParameterValue>Data Source=rdp.rimsoft.bg;Initial Catalog=ExhysContestHost;Persist Security Info=True;User ID=exhys;Password=exhys123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Exhys.WebContestHost.DataModels.ExhysContestEntities" />
  </ItemGroup>
</Project>