<div>
    @using (Html.BeginForm(FormMethod.Post))
    { 
        <input type="text" placeholder="Prefix" name="prefix" value="A"/>
        <input min="1" id="input-count" type="number" placeholder="Count" name="count" value="10" onchange="document.getElementById('txt1').rows=document.getElementById('txt2').rows = document.getElementById('input-count').value;"/>
        @Html.FixedDropDownListFor("groupId", ViewBag.UserGroupOptions as IEnumerable<SelectListItem>)
        <br />
        <textarea name="firstNames" rows="10" id="txt1" style="resize:none" placeholder="Competitor First Names (separated by new lines)"></textarea>
        <textarea name="lastNames" rows="10" id="txt2" style="resize:none" placeholder="Competitor Last Names (separated by new lines)"></textarea>
        <button type="submit">Add Users</button>
    }
</div>