input[type="checkbox"] {
  display: none;
}
label > input[type="checkbox"] + span {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url("/Content/Pictures/Check_box_black_empty.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}
label > input[type="checkbox"]:checked + span {
  background: url("/Content/Pictures/Check_box_black_checked.png") no-repeat center;
  width: 23px;
  height: 23px;
  background-size: contain;
}
