@helper UList (IEnumerable<string> items)
{ 
    if (items != null)
    {
        <ul>
            @{
                foreach (string s in items)
                {
                    <li>@(s)</li>
                }
             }
        </ul>
    }
}