@model IList<CompetitionViewModel>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Join</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competition in Model)
        {
            <tr>
                <td>@competition.Name</td>
                <td>@competition.Description</td>
                <td>
                    @if (competition.IsUserParticipating == false)
                    {
                        using (Html.BeginForm("Join", "Competitions", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@competition.Id" />
                            <button type="submit">Join</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Participate", "Competitions", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@competition.Id" />
                            <button type="submit">Already Joined</button>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>