@model ParticipationViewModel
    <!doctype html>
<html>
<head>
    @if(Model!=null&&Model.Competition!=null)
    {
        <title>@Model.Competition.Name - Exhys</title>
    }
</head>
<body>
    <section>
        <table border="1">
            <thead>
                <tr>
                    <th colspan="2">Problems</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Statement</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<Model.Competition.Problems.Count;i++)
                {
                    <tr>
                        <td>@Model.Competition.Problems[i].Name</td>
                        <td>
                            @for(int j=0;j<Model.Competition.Problems[i].ProblemStatements.Count;j++)
                            {
                                <div>
                                    @using (Html.BeginForm(method: FormMethod.Get, actionName: "DownloadStatement", controllerName: "Competitions"))
                                    {
                                        <input type="hidden" name="id" value="@Model.Competition.Problems[i].ProblemStatements[j].Id"/>
                                        <button type="submit">@Model.Competition.Problems[i].ProblemStatements[j].Filename</button>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td><br/></td>
                    <td><br/></td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>