@model Exhys.WebContestHost.Areas.Shared.ViewModels.UserAccountViewModel
    <section>
        <br />
        @using (Html.BeginForm("SignIn", "Accounts", FormMethod.Post, new { @class="form-signin" }))
        {
            <h2 class="form-signin-heading">Please Sign In</h2>
            <div>
                @Html.ErrorListFor(ViewData)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Username, new { placeholder="Username", @class="form-control lineH"})
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { placeholder="Password", @class="form-control"})
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </div>
			<h5>Don't have an account yet?<a href="/Accounts/Register"> Sign up</a></h5>

		}
    </section>