@model Exhys.WebContestHost.Areas.Shared.ViewModels.UserAccountViewModel
<!doctype html>
<html>
<head>

</head>
<body>
    <header></header>
    <div>
        
    </div>
    <section>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div>
                @Html.ErrorListFor(ViewData)
            </div>
            @Html.TextBoxFor(m => m.Username)
            @Html.PasswordFor(m => m.Password)
            <button type="submit">Sign In</button>
        }
    </section>
    <footer></footer>
</body>
</html>