@{
    ViewBag.Title = "Home Page";
}

@using (Html.TabControl(new string[] { "Tab 1", "Tab 2", "Tab 3" }))
{
    using (Html.TabItem())
    {
        <span>Tab 1 content</span>
    }
    using (Html.TabItem())
    {
        <span>Tab 2 content</span>
    }
    using (Html.TabItem())
    {
        <span>Tab 3 content</span>
    }
}

<div>Hello, World!</div>