@import "bootstrap/bootstrap.less";
@import "swatch/variables.less";
@import "swatch/bootswatch.less";
@import "bootstrap/utilities.less";

.height-25px{
	height:25px !important;
}
.height-27px{
    height:27px !important;
}
.th-center{
	
	tr{
		th{
			.text-center;
		}
	}

}
.padding-right-0{
	padding-right: 0 !important;
}
.padding-left-0{
	padding-right: 0 !important;
}
.padding-0{
	padding: 0 !important;
}
.padding-1{
    padding: 1px !important;
}
input[type=text]{
	line-height: 5px;
	padding: 2px 12px !important;
}

.valign-middle {
  vertical-align: middle !important;
  td{
  	vertical-align: middle !important;
  }
}
.lineH{
	line-height: normal !important;
}



.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}
.border-brush-black{
    border-color: black !important;
}
.horizontal-scroll{
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    

}
th:first-child .fixed-head{
    position: fixed;
    left: 5px
}
.exhys-footer{
    font-size: 12px !important;
    position:fixed;
    bottom: 0;
    width: 100%;
    background: #DDDDDD;

}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
}

.img-user {
    height: 37px;
    margin: -19.5px;
    margin-left: -15px;
    border-radius: 50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#table-feedback table, #table-feedback td, #table-feedback th {
    border: 1px solid #D3D3D3;
}
.width-100{
    width: 100px;
}
.ui-selecting{
   background-color: #AAAAAA !important;
}
.max-width-500{
    max-width: 500px !important;
}
.font-size-14{
    font-size: 14px;
}