@model CompetitionViewModel
<div>
    @using (Html.BeginForm())
    {

        <span>Id: @Model.Id</span>
        @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
        @Html.TextAreaFor(m => m.Description, new { placeholder = "Description", rows = "1" })
        @Html.FixedDropDownListFor(m => m.GroupId, ViewBag.UserGroupOptions as IEnumerable<SelectListItem>)

        <button type="submit">Save Changes</button>
    }
</div>