@{
    ViewBag.Title = "About";
}
@using (Html.BeginForm())
{
    <input  type="text"/><br />
    <input type="datetime" /> <br />
    <textarea spellcheck="false"></textarea><br />
    <label for="chk1">12</label>
    <input type="checkbox" id="chk1"/><br />
    <input type="button"  value="Input of type button"/> <br />
    <button type="button">Button</button><br />
    <input type="submit"  value="Input of type submit" /><br />
}