@model ProblemSolutionViewModel
<div>
    @{
        int widest = 0;
        foreach (string s in Model.SourceCode.Split('\n'))
        {
            widest = Math.Max(widest, s.Length);
        }

        <pre>@for(int i = 0; i < widest; i++) {@('=')}</pre>
        <pre>@Model.SourceCode</pre>
        <pre>@for(int i = 0; i < widest; i++) {@('=')}</pre>
    }
</div>